<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.evcharging"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="EV Charging"
        android:theme="@style/Theme.EVCharging">
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.BookingActivity"/>
        <activity android:name=".activities.QRScannerActivity"/>
        <activity android:name=".activities.DashboardActivity"/>
        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
